.signin-page {
    background-color: #34A21A;
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

.title {
    color: white;
    margin-left: 10%;
}


.discription-large {
    color: white;
    margin-left: 10%;
}

.signin-form {
    width: 34%;
    color: #666;
    background-color: white;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radious:
}

.signin-input {
    width: 100%;
    padding: 7px 12px;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid #ddd;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.signin-button {
    width: 100%;
    font-size: 16px;
    padding: 6px 12px;
    background-color: #34A21A;
    color: white;
    font-weight: bold;
}